@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/*
    Orange: #F49F1C
    Blue: #030E4F

*/
/*General*/
html {
    scroll-behavior: smooth;
  }
:root {
    --white-color: #D0D0D0;
    --primary-color: #F49F1C;
    --secondary-color: #030E4F;
    --primary-color-dark: #db880a;
  }
* {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
}
.button{
    padding: 12px 30px;
    color: white;
    background-color: var(--primary-color);
    transition: 0.2s;
    width: fit-content;
    border-radius: 5px;
    margin: auto;
    font-size: 1.6rem;
}
.button > a{
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
}
.button:hover{
    cursor: pointer;
    background-color: var(--primary-color-dark);
}

body{
    padding:0px;
    margin:0px;
    overflow-x: hidden;
    max-width: 1300px;
    background-color: #eeeeee;
}
@media only screen and (max-width: 800px){
    *{
        font-size: 10px;
    }
}
p , p > *{
    font-size: 1.7rem;
}
h1,h2{
    text-align: center;
    font-size: 2.8rem;
}
h3{
    font-size: 2.4rem;
}
.wrapper{
    margin: 0px 60px;
}
@media only screen and (max-width: 600px){
    .wrapper{
        margin: 0px 30px;
    }
}

/*Navigation*/
.logo{
    left:20px;
    height:70px;
    object-fit: scale-down;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    cursor:pointer;
    transition:.2s;
}
.navbar{
    position:fixed;
    height:90px;
    z-index:10;
    width:100%;
    display:flex;
    justify-content:left;
    background-color: var(--secondary-color);;
    transition:.4s;
    box-shadow: 0px 0px 5px -1px #000000;
}
.menu-item{
    margin:0px 10px;
    cursor:pointer;
    position:relative;
    text-decoration:none;
    padding: 12px 8px 10px;
    font-size: 1.6rem;
    color: var(--white-color);
}
.navbar>div{
    position:absolute;
    right:30px;
    display:flex;
    top:50%;
    transform:translateY(-50%)
}
.menu-item::after{
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    top:0%;
    left:0;
    background: rgba(255,255,255,0);
    transition:.2s;
    transform:scaleX(0);
    transform-origin:center;
    border: 2px solid var(--white-color);
    border-left:none;
    border-right:none;
}
.menu-items > a.menu-item:hover::after{
    transform: scaleX(1);
}
i.menu-item{
    transition: .2s;
    font-size: 2.2rem;
}
i.menu-item:hover{
    transform: scale(1.2);
}
.colored{
    background-color: var(--secondary-color);
    height: 70px;
    background-image: none;
}
.colored > div > a{
    color: var(--white-color);
}
.colored > div > a:after{
    border-color: var(--white-color);
}
.colored > a > img{
    height:50px;
}
#menu-on-small, .menu-items > i{
    display: none;
}
#menu-small{
    display:none;
}
@media only screen and (max-width: 900px){
    .menu-items > i{
        display: flex;
    }
    .colored i{
        color: var(--white-color);
    }
    .menu-items > a{
        display: none;
    }
    #menu-small{
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: var(--secondary-color);
        top: 70px;
        z-index: 20;
        box-shadow: 0px 10px 5px -10px #000000;
        padding-bottom: 20px;
    }
    #menu-small > a{
        width: 100%;
        justify-content: center;
        display: flex;
        transition: 0.2s;
        color: var(--white-color);
    }
    #menu-small > a:hover{
        transform: scale(1.1);
        justify-self: center;
    
    }
}




/*Home*/
.mainpage-header{
    position:absolute;
    color: white;
    top : 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 35px));
    text-shadow: 0px 0px 2px black;
    width: 80%;
}
.mainpage-header > h2{
    padding: 0px;
    margin: 10px 0px 0px;
    font-style: oblique;
    font-weight: 100;
    font-size: 3.2rem;
    width: 100%
}
.mainpage-header > h1{
    padding: 0px;
    margin: 10px 0px 0px;
    font-weight: 100;
    font-size: 4rem;
    width: 100%;
}
.mainpage-header .link{
    color:var(--primary-color);
    text-decoration: none;
    padding: 0px;
    margin: 3px 0px 0px;
}
.mainpage-header p{
    text-align: center;
}
#mainpage-banner-link::after{
    content:" >";
    font-weight: bold;
    transition: .2s;
}
#mainpage-banner-link:hover::after{
    content:" >";
    margin-left: 3px;
    font-weight: bold;
}
#mainpage-banner-link:hover{
    margin-left: 3px;
}
#banner-container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    object-fit:cover;
    object-position: 0% 20%;
}
#banner-container > *{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    object-fit:cover;
    object-position: 0% 20%;
}
.padder{
    height: 100px;
    width:100%;
}
.icon-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin: 30px 0px;
    flex-wrap: wrap;
}
.icon-container i{
    font-size: 60px;
}
.icon-container > div{
    margin: 30px 20px 0px 20px;
    min-width: 300px;
    width: 28%;
}
.icon-container p{
    margin: 0px;
}
.icon-container h2{
    margin: 15px 0px 5px 0px;
}
.home-product{
    height: 50vh;
    margin: 50px;
    display: flex;
    align-items: flex-start;
}
.home-product p{
    text-align: left
}
.home-product > div > div p{
    padding: 10px 20px 0px 0px;
}
.home-product > img{
    max-height: 50vh;
    width: 40%;
    align-self: center;
}
.home-product .home-product-button{
    max-width: 136px!important;
    margin: 0px 0px 10px 20px;
}
.home-product.right-text > div{
    margin: 0px 0px 0px 80px;
    text-align: center;
    max-width:50%;
}
.home-product.left-text > div{
    margin: 0px 80px 0px 00px;
    text-align: center;
    max-width:50%;
}
@media only screen and (max-width: 820px){
    .icon-container > div{
        width: 100%;
        margin: 30px 15% 0px;
    }
}
@media only screen and (max-width: 708px){
    .mainpage-header > h1{
        font-size: 3rem;
    }
    .mainpage-header > h2{
        font-size: 2.4rem;
    }
    .home-product{
        flex-wrap: wrap;
        justify-content: center;
        height: unset;
    }
    .home-product.left-text > div{
        order: 2;
    }
    .home-product > img{
        width: 100%;
        max-height: 100vh;
    }
    .home-product.right-text > div{
        margin: 0px!important;
        text-align: center;
        max-width: 100%;
        width: 80%;
    }
    .home-product.left-text > div{
        margin: 0px!important;
        text-align: center;
        max-width: 100%;
        width: 80%;
    }
    #scroll-offset{
        display: none;
    }
}
@media only screen and (max-width: 550px){
    .mainpage-header > h1{
        font-size: 2.4rem;
    }
    .mainpage-header > h2{
        font-size: 1.8rem;
    }
}
/*Contact*/
#success-message{
    transition: 5s;
    transform: scaleX(1);
}
.form-wrapper{
    display: flex;
}
.form-wrapper > div{
    width:50%;
}
.form-wrapper img{
    max-width:100%;
    position:relative;
    top:50%;
    transform: translateY(-50%);
}
#contact-form, #contact-form > *{
    font-size: 1.6rem;
    border:none;

}
#contact-form{
    display: flex;
    flex-direction: column;
    min-width: 0px;
    width: calc(100% - 40px);
    margin: auto;
    padding: 0px 20px;
    justify-content: center;
}
#contact-form textarea{
    resize: vertical;
}
#contact-form > input, #contact-form > textarea{
    background-color: none;
    padding: 8px;
    margin: 5px 0px 20px;
    border-radius: 4px;
}
#contact-form, #contact-form > *:focus{
    resize: none;
    outline: none;
}
#img-left{
    margin: 20px;
}
@media only screen and (max-width: 700px){
    .form-wrapper{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 30px;
    }
    #img-left, #form-right{
        margin: auto;
        width: 100%;
    }
    #img-left{
        transform: translateY(50%)
    }
}
/*other*/
.all-products{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: middle;
}
.product{
    width: 225px;
    padding: 25px;
}
.image-holder{
    width: 100%;
    overflow:hidden;
    height: 200px;
}
.image-holder > a > img{
    width: 100%;
    object-fit: scale-down;
    max-height: 100%;
    object-position: 50% 50%;
    transition: transform .2s;
}
.image-holder > a > img:hover{
    transform: scale(0.95);
    cursor: pointer;
}
#arrow-prev, #arrow-next{
    font-size: 3.0rem;
    align-self: center;
    transition: .2s;
}
#arrow-next{
    padding: 10px 4px 10px 10px;
    border-radius: 5px 0px 0px 5px;
}
#arrow-prev{
    padding: 10px 10px 10px 4px;
    border-radius: 0px 5px 5px 0px;
}
#arrow-prev:hover, #arrow-next:hover{
    cursor: pointer;
    background-color: #bbb;
}
.product > h3 {
    margin: 8px 0px 0px 0px;
    text-align: center;
    font-weight: normal;
}
.product > h3 > a{
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
    transition: .5s;
}
.product > h3 > a:hover{
    color: var(--secondary-color);
}
.product-actions > p{
    text-align: center;
    margin: 8px 0px;
    color: black;
    text-decoration: none;
}
.product-actions > i{
    float:right;
    margin: 8px 0px;
    font-size: 1.93rem;
    margin-right:20px;
    cursor: pointer;
    transition: .2s;
}
.product-actions>a:hover, .product-actions>i:hover{
    color: blue;
}
.product-actions > a:hover::after{
    opacity:0;
    content:" >>";
    animation: arrows .4s forwards ease-in-out;
    position: relative;
}
.product-page{
    padding: 30px;
}
.product-side-by-side{
    display: flex;
}
.product-images{
    width: 150%;
}
.product-images > div{
    width: fit-content;
    margin: auto;
}
.product-description{
    width:100%;
    padding: 20px 50px;
    margin: auto;
}
#image-carousel-options > img{
    width: 100px;
    max-height:70px;
    object-fit: scale-down;
    cursor: pointer;
    transition: .2s;
    border-radius: 3px;
    margin-right: 10px;
}
#image-carousel-options > img:hover{
    background-color: #eee;
    filter: brightness(0.8);
}
#main-image{
    width: calc(100% - 62px);
    height: 55vh;
    object-fit: contain;
    margin: 20px 0px;
}
.product-wrapper{
    display: flex;
}
/*Product Page*/
.product-description > div{
    display:flex
}
.product-description > div > p{
    margin: 28px 0px 20px;
    width: 100%;
    font-weight: bold;
    font-size: 2.0rem;
}
@media only screen and (max-width: 980px){
    .product-images{
        width: 75%;
    }
    .product-description{
        width:100%;
        padding: 20px 30px;
        margin: auto;
    }
    #image-carousel-options > img{
        max-width: 70px;
        max-height: 70px;
    }
}
@media only screen and (max-width: 756px){
    
    #image-carousel-options{
        display: none;
    }
    .product-side-by-side{
        display: block;
    }
    .product-images{
        margin: auto;
        width: initial;
    }
    .product-description{
        width: initial;
    }
    #main-image{
        height: initial;
        max-height: 40vh;
    }
}

/*All Products Page*/
@media only screen and (max-width: 756px){
    .product{
        justify-content: center;
        width: 100%;
        display: inherit;
        align-items: center;
        gap: 20px;
        padding: 0px;
    }
    .product > h3{
        margin: 0px;
        width: calc(100% - 300px);
        min-width: 100px;
        text-align: left;
    }
    .image-holder{
        width: 100px;
        height: 100px;
    }
    .image-holder > a > img{
        width: 100px;
        height: 100px;
    }
}
.link{
    font-size: 1.7rem;
    color: #db880a;
    transition: .2s;
}
.link:hover{
    color: #F49F1C;
}
.section{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.section > *{
    width: 50%;
    padding: 20px;
    min-width: 300px;
}
.section img{
    max-height: 400px;
    width:auto;
    left: 50%;
    transform: translatex(-50%);
    position: relative;
}
@media only screen and (max-width: 800px){
    .section{
        flex-wrap: wrap;
    }
    .section > *{
        width: 100%;
    }
}
/*About*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #bbb;
}

/* Style table headers and table data */
th, td {
    font-size: 1.6rem;
    text-align: center;
    padding: 16px;
}

.darken{
    backdrop-filter: contrast(.5);
}
th:first-child, td:first-child {
  text-align: left;
}

/* Zebra-striped table rows */
tr:nth-child(even) {
  background-color: #d2d2d2;
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}

/*footer*/
footer{
    display:flex;
    padding: 10px 40px;
    background-color: var(--white-color);
}
footer > *{
    width: 50%;
}
footer p:nth-child(2){
    text-align: right;
}
@media only screen and (max-width: 800px){
    footer{
        flex-wrap: wrap;
    }
    footer > *{
        width: 100%;
        text-align: center;
        margin: 5px 0px;
    }
    footer p:nth-child(2){
        text-align: center;
    }
    
}