@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/*
    Cyan: 2edfbc;
    Orange: df7e2e;
    Blue: 752edf;
*/

* {
    font-family: 'Inter', sans-serif;
}

body{
    padding:0px;
    margin:0px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    max-width: 1300px;
}
p {
    font-weight:100;
}
h1,h2{
    text-align: center;
    font-size: 28px;
}
.topnav .icon{
    display:none
}
.logo{
    margin-left:20px;
    max-height:50px;
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    cursor:pointer;
    text-align: left;
}
.navbar{
    position:fixed;
    height:70px;
    z-index:1000;
    width:100%;
    display:flex;
    justify-content:left;
    background-color:var(--col-bg-toolbar);
    transition:.4s;
    background-color: rgba(255, 0, 0, 0);
}
.navbar.open{
    box-shadow:none;
    transition-delay:0s
}
.menu-item{
    margin:0px 8px;
    color: #000;
    cursor:pointer;
    position:relative;
    text-decoration:none;
    padding: 12px 8px;
}
.navbar>div{
    position:absolute;
    right:28.6666666667px;
    display:flex;
    top:50%;
    transform:translateY(-50%)
}
.menu-item::after{
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    top:0%;
    left:0;
    background: rgba(255,255,255,0);
    transition:.2s;
    transform:scaleX(0);
    transform-origin:center;
    border: 2px solid black;
    border-left:none;
    border-right:none;
}
.menu-item:hover::after{
    transform: scaleX(1);
}
.colored{
    background-color: white;
}

#cover-image{
    width: 100%;
    height: 100vh;
}
.full-image{
    width: 80%;
    object-fit: cover;
    height: calc(100vh - 70px);
}
.image-right{
    float:right;
}
.padder{
    height: 80px;
    width:100%;
}


#contact-form{
    width: 80%;
    min-width: 500px;
    background-color: #ccc;
    position: relative;
    left:50%;
    transform: translatex(-50%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
}
#submit-form{
    width: 90px;
    height: 40px;
}
textarea:focus, input:focus{
    outline: none;
}
footer{
    padding: 10px 20px;
}
.all-products{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: middle;
}
.product{
    width: 225px;
    padding: 25px;
    font-family: 'Titillium Web', sans-serif;
}
.image-holder{
    width: 100%;
    overflow:hidden;
    height: 200px;
}
.image-holder > a > img{
    width: 100%;
    object-fit: scale-down;
    object-position: 50% 50%;
    transition: transform .2s;
}
.image-holder > a > img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.product > h3 {
    margin: 8px 0px 0px 0px;
    text-align: center;
    font-weight: normal;
}
.product > h3 > a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.product-actions > p{
    float:left;
    margin: 8px 0px;
    margin-left:20px;
    color: black;
    text-decoration: none;
}
.product-actions > i{
    float:right;
    margin: 8px 0px;
    font-size: 19.3px;
    margin-right:20px;
    cursor: pointer;
    transition: .2s;
}
.product-actions>a:hover, .product-actions>i:hover{
    color: blue;
}
.product-actions > a:hover::after{
    opacity:0;
    content:" >>";
    animation: arrows .4s forwards ease-in-out;
    position: relative;
}
